<div class="max-w-sm rounded overflow-hidden shadow-lg hover:shadow-xl">
  <img class="w-full h-48 object-cover" [src]="ocasa.foto[0]" alt="foto de exterior {{ocasa.nombre}}">
  <div class="px-6 py-4">
    <div class="mb-2">
      <h2 class="text-xl font-bold text-gray-900">{{ ocasa.nombre }}</h2>
      <div class="flex items-center">
        <div class="mr-2 rounded-full bg-blue-600 py-1 px-2 text-xs font-medium text-white">{{ ocasa.ciudad }}</div>
        <div class="rounded-full bg-yellow-500 py-1 px-2 text-xs font-medium text-white">{{ ocasa.provincia }}</div>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="flex items-center">
        <img src="https://img.icons8.com/windows/24/null/bedroom.png" />
        <p class="ml-2 text-sm font-medium text-gray-700">{{ ocasa.unidades }} Habitaciones</p>
      </div>
      <div class="flex items-center">
        <img src="https://img.icons8.com/pastel-glyph/24/null/bath--v2.png" />
        <p class="ml-2 text-sm font-medium text-gray-700"> Baños</p>
      </div>
      <div class="flex items-center">
        <img src="https://img.icons8.com/ios-glyphs/24/null/expand--v1.png" />
        <p class="ml-2 text-sm font-medium text-gray-700"> m²</p>
      </div>
    </div>

  </div>
  <div class="px-6 py-4 flex justify-between items-center">
    <div class="flex items-center">

      <a [routerLink]="['/detalles', ocasa.id]">Leer mas</a>
    </div>

  </div>
</div>
