<article class="listing-article container mx-auto p-4">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 flex flex-col items-center lg:items-start">
      <div class="relative">
        <img [src]="clocalizacion?.foto?.[currentImageIndex]" alt="Exterior photo of {{clocalizacion?.nombre}}" class="w-full h-64 object-cover object-center rounded mb-4">
        <button (click)="prevImage()" class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full">‹</button>
        <button (click)="nextImage()" class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full">›</button>
      </div>
      <div class="flex space-x-2 mt-4">
        <img *ngFor="let img of clocalizacion?.foto ?? [] ; let i = index" [src]="img" alt="Thumbnail" class="w-16 h-16 object-cover rounded cursor-pointer" (click)="setImage(i)">
      </div>
    </div>
    <div class="w-full lg:w-1/2 lg:pl-10">
      <h2 class="text-sm title-font text-gray-500 tracking-widest">{{clocalizacion?.nombre}}</h2>
      <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{clocalizacion?.nombre}}</h1>
      <p class="text-gray-600 mb-4">{{clocalizacion?.ciudad}}, {{clocalizacion?.provincia}}</p>
      <section class="listing-features mb-4">
        <h2 class="section-heading text-lg font-semibold mb-2">Información de la casa</h2>
        <ul class="list-disc list-inside">
          <li>Cuartos disponibles: {{clocalizacion?.unidades}}</li>
          <li>Tiene conexión wifi: {{clocalizacion?.wifi ? 'Sí' : 'No'}}</li>
          <li>Posee lavandería: {{clocalizacion?.lavanderia ? 'Sí' : 'No'}}</li>
        </ul>
      </section>
    </div>
  </div>
</article>
